.title-red{
    background-image: url(https://www.pngmagic.com/product_images/red-vector-background-for-template-design.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    
}
.nav{
    background-color: red;
}
.title-r{
    background-image: url(https://en.pimg.jp/048/513/817/1/48513817.jpg);
    background-repeat: no-repeat,repeat;
    background-position: center;
    background-size: cover;
}
.title-s{
    background-image: url(https://en.pimg.jp/048/513/818/1/48513818.jpg);
    background-repeat: no-repeat,repeat;
    background-position: center;
    background-size: cover;
}